body{
    background-color: black;
}
section{
    display: block;
    width: 300px;
    margin: 30px auto;
    border: solid white 1px;
    padding: 10px;
}

@media (min-width:600px){
    section{
        width: 1000px;
        margin: 80px auto;
    }
}
.start{
    text-align: center;
}

.start a p{
    color: rgb(220, 220, 220);
}

h1{
    text-decoration: underline;
    color: rgb(220, 220, 220);
}

h2{
    font-size: 14pt;
    color: rgb(220, 220, 220);
}

h3{
    color: rgb(220, 220, 220);
}
p, nav,ol{
    color: rgb(220, 220, 220);
}

.sendMail{
    width: 98%;
    height: 200px;
    margin-top: 100px;
    position: relative;
    border: solid white;
}

.sendMail p{
    position: absolute;
}

.MailA, .MailB{
    top: 2%;
    border: solid white;
}

.PCA, .PCB{
    bottom: 2%;
    border: solid white;
}

.MailA, .PCA{
    left: 2%;
    border: solid white;
}

.MailB, .PCB{
    right: 2%;
    border: solid white;
}

.SMTP1{
    left: 2%;
    top: 40%;
}

.SMTP2{
    top: 2%;
    left: 40%;
    font-size: 10pt;
}

.POP3{
    right: 20%;
    top: 40%;
}

.IMAP4{
    right: 2%;
    top: 30%;
}


@media (min-width:600px){
    .sendMail{
        width: 100%;
    }

    .MailA, .PCA{
        left: 10%;
        padding-right: 30px;
        padding-left: 10px;
        border: solid white;
    }

    .MailB, .PCB{
        right: 10%;
        padding-left: 30px;
        padding-right: 10px;
        border: solid white;
    }
    .POP3{
        right: 18%;
        top: 40%;
    }
    .IMAP4{
        right: 10%;
        top: 40%;
    }
    .SMTP1{
        left: 10%;
        top: 40%;
    }
    .SMTP2{
        left: 50%;
        transform: translate(-50%,0);
        font-size: 15pt;
    }
}

section img{
    width: 100%;
    margin: 40px 0;
}

.backButton{
    position: fixed;
    right: 5%;
    top: 50%;
}

.backButton a p{
    padding: 10px 20px;
    border: solid white;
    border-radius: 50px;
}

.backButton a p:hover{
    transform: scale(1.05);
}

.sameKeyExample, .publichKeyExaple{
    width: 90%;
    
    padding: 10px;
    position: relative;
}

.publichKeyExaple{
    height: 400px;
}

.publichKeyExaple .keySendingPC{
    font-size: 16pt;
}

.publichKeyExaple .keyLine{
    margin-bottom: 150px;
}


.publichKeyExaple .keyDirectionLine{
    margin-bottom: 60px;
}
.line, .lineMain, .contentsA, .contentsB, .keyLine{
    display: flex;
    justify-content: space-between;
}

.lineMain{
    margin-bottom: 20px;
}

.send, .post{
    border: solid 1px white;
}

.send{
    margin-right: 100px;
}

@media (min-width:600px){
    .send{
        margin-right: 0px;
        padding-right: 300px;
    }
    .post{
        padding-left: 300px;
    }

    .send, .post{
        text-align: center;
    }
}

.sendPC{
    border: solid white 1px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.postPC{
    border: solid white 1px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50px;
}


@media (max-width:601px){
    .argA, .argB{
        display: none;
    }
}

@media (min-width:600px){
    .argA, .argB{
        position: absolute;
        top: 6%;
        font-size: 15pt;
    }

    .argA{
        left: 14%;
    }

    .argB{
        right: 14%;
    }
}

.sending, .posting, .keyMain{
    font-size: 18pt;
}

.keyLine{
    position: relative;
    margin-bottom: 60px;
}

.keyA, .keyB, .keyC, .keyAdirection, .keyBdirection, .keySending{
    position: absolute;
}

.keyA, .keyB{
    top: 50%;
}
.keyA{
    left: 10%;
}
.keyB{
    right: 10%;
}

.keyC{
    top: -60px;
    right: 10%;
}

.keySending{
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    font-size: 10pt;
}

.keySendingPC{
    display: none;
}

@media (min-width:600px){
    .keySendingPC{
        display: contents;
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 20pt;
    }
    .keySending{
        display: none;
    }
}

.keyDirectionLine{
    position: relative;
    height: 30px;
}

.keyAdirection{
    top: -100%;
    left: 20%;
    font-size: 20pt;
}

.keyBdirection{
    top: -100%;
    right: 20%;
    font-size: 20pt;
}

@media (min-width:600px){
    .keyA, .keyB{
        top: 50%;
        font-size:20pt;
    }
    .keyA{
        left: 16%;
    }
    .keyB{
        right: 16%;
    }

    .keyC{
        font-size: 20pt;
        right: 16%;
        top: -70px;
    }
}


.pare{
    display: block;
    position: absolute;
    border: solid yellow;
    height: 100px;
    width: 100px;
    bottom: 40%;
    right: 3%;
}

@media (min-width:600px){
    .pare{
        bottom: 28%;
        right: 10%;
        width: 170px;
        height: 150px;
    }
}

.root{
    position: relative;
    height: 300px;
}

.place1, .place2, .place3{
    position: absolute;
    border: solid white 1px;
    padding: 10px 20px;
}

.place1, .place2{
    left: 100px;
}

.place1{
    top: 10px;
}

.place2, .place3{
    top: 200px;
}

.place3{
    right: 100px;
}

.direction1, .direction2, .direction3, .direction4{
    position: absolute;
    font-size: 30pt;
}

.direction1{
    left: 50%;
    top: 180px;
    transform: scaleX(7);
}

.direction2{
    top: 80px;
    transform: scaleY(3);
    left: 20%;
}

.direction3{
    top: 80px;
    transform: scaleY(3);
    left: 10%;
}

.direction4{
    top: 150px;
    transform: scaleX(7);
    left: 50%;
}

.info1, .info2, .info3, .info4{
    font-size: 10pt;
    position: absolute;
}

.info1{
    left: 50%;
    top: 250px;
}

.info2{
    left: 25%;
    top: 100px;
}

.info3{
    left: 0.5%;
    top: 100px;
}

.info4{
    left: 50%;
    top: 160px;
}

.markLine{
    display: flex;
}

.markLine img{
    width: 10%;
    margin-left: 0px;
    margin-right: 20px;
}
@media (min-width:600px){
    .bug{
        display: none;
    }
}

.hideBlock{
    display: block;
    background-color: white;
    position: absolute;

}

.hideButton{
    display: none;
    
}

.hideBlock1{
    top: 505px;
    left: 232px;
    height: 18px;
    width: 30px;
}

.hideBlock2{
    top: 530px;
    left: 520px;
    height: 18px;
    width: 100px;
}

.hideBlock3{
    top: 530px;
    height: 18px;
    left: 650px;
    width: 80px;
}

.hideBlock4{
    top: 555px;
    left: 239px;
    height: 18px;
    width: 80px;
}

.hideBlock5{
    top: 578px;
    left: 239px;
    height: 18px;
    width: 80px;
}

.hideBlock6{
    top: 578px;
    left: 352px;
    height: 18px;
    width: 30px;
}

.hideBlock7{
    top: 680px;
    left: 232px;
    height: 18px;
    width: 30px;
}

.hideBlock8{
    top: 700px;
    left: 520px;
    height: 18px;
    width: 100px;
}

.hideBlock9{
    top: 700px;
    left: 650px;
    height: 18px;
    width: 80px;
}

.hideBlock10{
    top: 700px;
    left: 850px;
    height: 18px;
    width: 56px;
}


.hideBlock11{
    top: 700px;
    left: 920px;
    height: 18px;
    width: 82px;
}

.hideBlock12{
    top: 700px;
    left: 1020px;
    height: 18px;
    width: 62px;
}

.hideBlock13{
    top: 750px;
    left: 238px;
    height: 18px;
    width: 82px;
}

.hideBlock14{
    top: 775px;
    left: 238px;
    height: 18px;
    width: 82px;
}

.hideBlock15{
    top: 798px;
    left: 238px;
    height: 18px;
    width: 100px;
}

.hideBlock16{
    top: 1298px;
    left: 238px;
    height: 18px;
    width: 130px;
}

.hideBlock17{
    top: 1328px;
    left: 238px;
    height: 18px;
    width: 130px;
}


.hideBlock18{
    top: 1350px;
    left: 238px;
    height: 18px;
    width: 130px;
}

.hideBlock19{
    top: 1390px;
    left: 218px;
    height: 18px;
    width: 130px;
}

.hideBlock20{
    top: 1390px;
    left: 380px;
    height: 18px;
    width: 128px;
}

.hideBlock21{
    top: 1608px;
    left: 230px;
    height: 18px;
    width: 60px;
}

.hideBlock22{
    top: 1608px;
    left: 480px;
    height: 18px;
    width: 98px;
}

.hideBlock23{
    top: 1628px;
    left: 230px;
    height: 18px;
    width: 60px;
}

.hideBlock24{
    top: 1628px;
    left: 620px;
    height: 19px;
    width: 126px;
}

.hideBlock25{
    top: 1628px;
    left: 880px;
    height: 19px;
    width: 54px;
}

.hideBlock26{
    top: 1655px;
    left: 230px;
    height: 18px;
    width: 60px;
}

.hideBlock27{
    top: 1655px;
    left: 620px;
    height: 18px;
    width: 100px;
}

.hideBlock28{
    top: 2043px;
    left: 230px;
    height: 18px;
    width: 180px;
}

.hideBlock29{
    top: 2043px;
    left: 460px;
    height: 18px;
    width: 100px;
}

.hideBlock30{
    top: 2063px;
    left: 230px;
    height: 18px;
    width: 180px;
}

.hideBlock31{
    top: 2063px;
    left: 460px;
    height: 18px;
    width: 87px;
}

.hideBlock32{
    top: 2089px;
    left: 230px;
    height: 18px;
    width: 60px;
}

.hideBlock33{
    top: 2089px;
    left: 320px;
    height: 18px;
    width: 98px;
}

.hideBlock34{
    top: 2289px;
    left: 268px;
    height: 18px;
    width: 78px;
}

.hideBlock35{
    top: 2289px;
    left: 358px;
    height: 18px;
    width: 128px;
}

.hideBlock36{
    top: 2289px;
    left: 498px;
    height: 18px;
    width: 128px;
}

.hideBlock37{
    top: 2289px;
    left: 638px;
    height: 18px;
    width: 120px;
}

.hideBlock38{
    top: 2289px;
    left: 966px;
    height: 18px;
    width: 63px;
}

.hideBlock39{
    top: 2412px;
    left: 256px;
    height: 18px;
    width: 144px;
}

.hideBlock40{
    top: 2438px;
    left: 256px;
    height: 18px;
    width: 114px;
}

.hideBlock41{
    top: 2460px;
    left: 256px;
    height: 18px;
    width: 130px;
}

.hideBlock42{
    top: 2486px;
    left: 256px;
    height: 18px;
    width: 100px;
}


.hideBlock42{
    top: 2798px;
    left: 216px;
    height: 18px;
    width: 52px;
}

.hideBlock43{
    top: 2858px;
    left: 236px;
    height: 18px;
    width: 222px;
}

.hideBlock44{
    top: 2908px;
    left: 236px;
    height: 18px;
    width: 222px;
}

.hideBlock45{
    top: 3152px;
    left: 256px;
    height: 18px;
    width: 70px;
}

.hideBlock46{
    top: 3202px;
    left: 256px;
    height: 18px;
    width: 70px;
}


.hideBlock47{
    top: 3252px;
    left: 256px;
    height: 18px;
    width: 70px;
}

.hideBlock48{
    top: 3298px;
    left: 256px;
    height: 18px;
    width: 70px;
}

.hideBlock49{
    top: 3348px;
    left: 256px;
    height: 18px;
    width: 90px;
}

.hideBlock50{
    top: 3418px;
    left: 256px;
    height: 18px;
    width: 90px;
}

.hideBlock51{
    top: 3468px;
    left: 256px;
    height: 18px;
    width: 90px;
}

.hideBlock52{
    top: 3598px;
    left: 221px;
    height: 18px;
    width: 92px;
}

.hideBlock53{
    top: 3638px;
    left: 221px;
    height: 18px;
    width: 92px;
}

.hideBlock54{
    top: 3708px;
    left: 251px;
    height: 18px;
    width: 48px;
}

.hideBlock55{
    top: 3748px;
    left: 240px;
    height: 18px;
    width: 48px;
}

.hideBlock56{
    top: 3792px;
    left: 240px;
    height: 18px;
    width: 48px;
}

.hideBlock57{
    top: 3842px;
    left: 240px;
    height: 18px;
    width: 48px;
}

.hideBlock58{
    top: 3889px;
    left: 240px;
    height: 18px;
    width: 48px;
}

.hideBlock59{
    top: 3997px;
    left: 240px;
    height: 18px;
    width: 48px;
}

.hideBlock60{
    top: 3997px;
    left: 307px;
    height: 18px;
    width: 29px;
}

.hideBlock61{
    top: 4019px;
    left: 240px;
    height: 18px;
    width: 110px;
}

.hideBlock62{
    top: 4019px;
    left: 382px;
    height: 18px;
    width: 33px;
}

.hideBlock63{
    top: 4044px;
    left: 240px;
    height: 18px;
    width: 80px;
}

.hideBlock64{
    top: 4069px;
    left: 240px;
    height: 18px;
    width: 176px;
}

.hideBlock65,.hideBlock66,.hideBlock67,.hideBlock68,.hideBlock69,.hideBlock70,.hideBlock71,.hideBlock72,.hideBlock73,.hideBlock74,.hideBlock75,.hideBlock76,.hideBlock77,.hideBlock78,.hideBlock79,.hideBlock80,.hideBlock81,.hideBlock82,.hideBlock83,.hideBlock84,.hideBlock85,.hideBlock86,.hideBlock87,.hideBlock88,.hideBlock89{
    background-color: black;
}

.hideBlock65{
    top: 4712px;
    left: 350px;
    height: 18px;
    width: 160px;
}

.hideBlock66{
    top: 4742px;
    left: 350px;
    height: 18px;
    width: 60px;
}

.hideBlock67{
    top: 4810px;
    left: 350px;
    height: 18px;
    width: 41px;
}

.hideBlock68{
    top: 4840px;
    left: 350px;
    height: 18px;
    width: 47px;
}

.hideBlock69{
    top: 4892px;
    left: 350px;
    height: 18px;
    width: 47px;
}

.hideBlock70{
    top: 4952px;
    left: 480px;
    height: 18px;
    width: 77px;
}

.hideBlock71{
    top: 4982px;
    left: 350px;
    height: 26px;
    width: 100px;
}

.hideBlock72{
    top: 4712px;
    left: 580px;
    height: 18px;
    width: 60px;
}

.hideBlock73{
    top: 4742px;
    left: 578px;
    height: 18px;
    width: 60px;
}

.hideBlock74{
    top: 4800px;
    left: 578px;
    height: 30px;
    width: 100px;
}

.hideBlock75{
    top: 4833px;
    left: 578px;
    height: 30px;
    width: 160px;
}

.hideBlock76{
    top: 4919px;
    left: 570px;
    height: 30px;
    width: 160px;
}

.hideBlock77{
    top: 4950px;
    left: 570px;
    height: 20px;
    width: 182px;
}

.hideBlock78{
    top: 4702px;
    left: 780px;
    height: 30px;
    width: 160px;
}

.hideBlock79{
    top: 4732px;
    left: 780px;
    height: 30px;
    width: 97px;
}

.hideBlock80{
    top: 4790px;
    left: 780px;
    height: 30px;
    width: 121px;
}

.hideBlock81{
    top: 4820px;
    left: 877px;
    height: 20px;
    width: 121px;
}

.hideBlock82{
    top: 4850px;
    left: 790px;
    height: 30px;
    width: 21px;
}

.hideBlock83{
    top: 4900px;
    left: 790px;
    height: 30px;
    width: 198px;
}

.hideBlock84{
    top: 4960px;
    left: 790px;
    height: 30px;
    width: 86px;
}

.hideBlock85{
    top: 4682px;
    left: 1010px;
    height: 28px;
    width: 172px;
}

.hideBlock86{
    top: 4782px;
    left: 1010px;
    height: 28px;
    width: 172px;
}


.hideBlock87{
    top: 4842px;
    left: 1010px;
    height: 28px;
    width: 120px;
}

.hideBlock87{
    top: 4842px;
    left: 1010px;
    height: 28px;
    width: 118px;
}

.hideBlock88{
    top: 4912px;
    left: 1008px;
    height: 28px;
    width: 118px;
}

.hideBlock89{
    top: 4947px;
    left: 1008px;
    height: 28px;
    width: 150px;
}

.hideBlock90{
    top: 5357px;
    left: 220px;
    height: 20px;
    width: 50px;
}

.hideBlock91{
    top: 5357px;
    left: 280px;
    height: 20px;
    width: 40px;
}

.hideBlock92{
    top: 5447px;
    left: 237px;
    height: 20px;
    width: 51px;
}

.hideBlock93{
    top: 5447px;
    left: 397px;
    height: 20px;
    width: 37px;
}

.hideBlock94{
    top: 5471px;
    left: 237px;
    height: 20px;
    width: 51px;
}

.hideBlock95{
    top: 5838px;
    left: 220px;
    height: 20px;
    width: 80px;
}

.hideBlock96{
    top: 5838px;
    left: 440px;
    height: 20px;
    width: 53px;
}

.hideBlock96{
    top: 5928px;
    left: 240px;
    height: 20px;
    width: 50px;
}

.hideBlock96{
    top: 6428px;
    left: 220px;
    height: 20px;
    width: 50px;
}

.hideBlock97{
    top: 6470px;
    left: 250px;
    height: 20px;
    width: 50px;
}

.hideBlock98{
    top: 6550px;
    left: 220px;
    height: 20px;
    width: 33px;
}

.hideBlock99{
    top: 6550px;
    left: 427px;
    height: 20px;
    width: 49px;
}

.hideBlock100{
    top: 7110px;
    left: 215px;
    height: 30px;
    width: 49px;
}

.hideBlock101{
    top: 7160px;
    left: 220px;
    height: 20px;
    width: 49px;
}

.hideBlock102{
    top: 7160px;
    left: 490px;
    height: 20px;
    width: 80px;
}

.hideBlock103{
    top: 7200px;
    left: 215px;
    height: 30px;
    width: 49px;
}

.hideBlock104{
    top: 7240px;
    left: 220px;
    height: 20px;
    width: 49px;
}

.hideBlock105{
    top: 7240px;
    left: 433px;
    height: 20px;
    width: 40px;
}

.hideBlock106{
    top: 7240px;
    left: 570px;
    height: 20px;
    width: 40px;
}

.hideBlock107{
    top: 7324px;
    left: 288px;
    height: 20px;
    width: 33px;
}

.hideBlock109{
    top: 7350px;
    left: 238px;
    height: 20px;
    width: 99px;
}

.hideBlock110{
    top: 7350px;
    left: 350px;
    height: 20px;
    width: 99px;
}

.hideBlock111{
    top: 7350px;
    left: 625px;
    height: 20px;
    width: 29px;
}

.hideBlock112{
    top: 7372px;
    left: 239px;
    height: 20px;
    width: 36px;
}


.hideBlock113{
    top: 7398px;
    left: 276px;
    height: 20px;
    width: 47px;
}

.hideBlock114{
    top: 7398px;
    left: 896px;
    height: 20px;
    width: 47px;
}

.hideBlock115{
    top: 7420px;
    left: 322px;
    height: 20px;
    width: 96px;
}

.hideBlock116{
    top: 7420px;
    left: 570px;
    height: 20px;
    width: 102px;
}

.hideBlock117{
    top: 7420px;
    left: 940px;
    height: 20px;
    width: 22px;
}

.hideBlock118{
    top: 7520px;
    left: 458px;
    height: 20px;
    width: 31px;
}

.hideBlock119{
    top: 7747px;
    left: 278px;
    height: 20px;
    width: 32px;
}

.hideBlock120{
    top: 7747px;
    left: 328px;
    height: 20px;
    width: 48px;
}

.hideBlock121{
    top: 8100px;
    left: 218px;
    height: 20px;
    width: 288px;
}

.hideBlock122{
    top: 8140px;
    left: 218px;
    height: 20px;
    width: 40px;
}

.hideBlock123{
    top: 8182px;
    left: 238px;
    height: 20px;
    width: 90px;
}

.hideBlock124{
    top: 8182px;
    left: 348px;
    height: 20px;
    width: 180px;
}

.hideBlock125{
    top: 8270px;
    left: 220px;
    height: 20px;
    width: 36px;
}

.hideBlock126{
    top: 8270px;
    left: 220px;
    height: 20px;
    width: 36px;
}

.hideBlock127{
    top: 8270px;
    left: 268px;
    height: 20px;
    width: 47px;
}

.hideBlock128{
    top: 8270px;
    left: 328px;
    height: 20px;
    width: 120px;
}

.hideBlock129{
    top: 8270px;
    left: 458px;
    height: 20px;
    width: 94px;
}

.hideBlock130{
    top: 8270px;
    left: 560px;
    height: 20px;
    width: 94px;
}

.hideBlock131{
    top: 8310px;
    left: 237px;
    height: 20px;
    width: 44px;
}

.hideBlock132{
    top: 8350px;
    left: 237px;
    height: 20px;
    width: 54px;
}

.hideBlock133{
    top: 8388px;
    left: 237px;
    height: 20px;
    width: 94px;
}

.hideBlock134{
    top: 8428px;
    left: 237px;
    height: 20px;
    width: 94px;
}

.hideBlock135{
    top: 8468px;
    left: 237px;
    height: 20px;
    width: 134px;
}

.hideBlock136{
    top: 8510px;
    left: 237px;
    height: 20px;
    width: 163px;
}

.hideBlock137{
    top: 8590px;
    left: 237px;
    height: 20px;
    width: 43px;
}

.hideBlock138{
    top: 8617px;
    left: 237px;
    height: 20px;
    width: 43px;
}

.hideBlock139{
    top: 8617px;
    left: 542px;
    height: 20px;
    width: 38px;
}

.hideBlock140{
    top: 8617px;
    left: 752px;
    height: 20px;
    width: 38px;
}

.hideBlock141{
    top: 8617px;
    left: 1112px;
    height: 20px;
    width: 78px;
}

.hideBlock142{
    top: 8719px;
    left: 237px;
    height: 20px;
    width: 148px;
}

.hideBlock143{
    top: 8719px;
    left: 477px;
    height: 20px;
    width: 36px;
}

.hideBlock144{
    top: 8749px;
    left: 237px;
    height: 20px;
    width: 110px;
}

.hideBlock145{
    top: 8749px;
    left: 447px;
    height: 20px;
    width: 59px;
}


.hideBlock146{
    top: 8829px;
    left: 267px;
    height: 20px;
    width: 50px;
}

.hideBlock147{
    top: 8829px;
    left: 457px;
    height: 20px;
    width: 37px;
}

@media (min-width:600px){
    .hideButton{
        display: contents;
        position: fixed;
        right: 5%;
        top: 50%;
    }
}